* {
  box-sizing: border-box;
}
body {
  background-color: grey;
}
#wrapper {
  margin: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  background-color: lightblue;
  box-sizing: border-box;
  width: 400px;
  height: 600px;
  justify-content: center;
  padding: 10px;
}
.displayContainer {
  grid-column-start: 1;
  grid-column-end: 5;
  height: 50px;
  width: 370px;
  background-color: white;
}
.operatorBtn {
  grid-column-start: 4;
  grid-column-end: 5;
}
.numberBtn {
 
}
.btn:hover {
  cursor: pointer;
}
