* {
  box-sizing: border-box;
}
body {
  background-color: #F1EEEE;
}
#wrapper {
  margin: 150px auto 0 auto;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: #F1EBEA;
  box-sizing: border-box;
  width: 430px;
  height: 500px;
  justify-content: center;
  padding: 10px 20px 25px 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 8px #E5D6D2;
}
.displayContainer {
  margin-top: 20px;
  grid-column: 1 / 6;
  height: 80px;
  width: 390px;
  background-color: #DEDECF;
  border-radius: 5px;
  box-shadow: inset 2px 2px 1px #D2D2BC;
}
.display {
  font-family: 'Courier New', Courier, monospace;
  padding: 5px 8px 0 8px;
  display: block;
  height: 27px;
  color: #4A4A45;
}
.right {
  text-align: right;
}
.span3 {
  grid-column: 3 / span 3;
}
.largeTxt {
  font-size: 1.7em;
}
.previewTxt {
  color: #86867E;
}
.blueTxt {
  color: #467DDD;
}
.greenTxt {
  color: #89B8B4;
}
.orangeTxt {
  color: #FF7C4D;
}
.redTxt {
  color: #F53D3D;
}
.btn {
  font-size: 1em;
  font-family: Montserrat;
  text-align: center;
  border: none;
  box-shadow: 1px 3px 4px #E5D6D2;
  border-radius: 5px;
  background-color: #F3F2F1;
  outline: none;
  transition: 0.2s ease;
}
.btn:hover {
  cursor: pointer;
  background-color: #F8F7F6;
}
.btn:active {
  box-shadow: none;
}
#info {
  font-family: Montserrat;
  color: #89B8B4;
  padding-top: 60px;
  text-align: center;
}
.opLgTxt {
  font-size: 1.2em;
}
